$bgBlack: #000;
$bgWhite: #fff;
$bgPeach: #fd926d;
$fF: 'open_sansregular';


.header-work-block {
  max-width: 995px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

// header top container

.header-top-container {
  background: $bgBlack;
}

.header-top-block {
  justify-content: space-between;
}

.custom-care-link {
  color: $bgWhite;
  text-transform: uppercase;
  font-family: $fF;
  font-size: 12px;
}

.my-account-block {
  display: flex;
  align-items: center;
  line-height: 30px;
  border-right: 1px solid #444;
}

.country-box {
  border-left: 1px solid #444;
  position: relative;
  padding: 0 14px 0 15px;
  display: flex;
  align-items: center;
}

.country-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.country-name {
  color: $bgWhite;
  font-family: $fF;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0 10px 0 0;

  span {
    border-top: 4px solid $bgWhite;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
}
        
.country-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  background: $bgBlack;
  padding: 0 0 0 15px;
  cursor: pointer;
  z-index: 1;

  li {
    color: $bgWhite;
    line-height: 30px;
    font-family: $fF;
    font-size: 11px;
    text-transform: uppercase;
  }
}
          
.country-item:checked ~ .country-list {
  display: block;
}
      
.my-account-link {
  padding: 0 15px 0 14px;
  color: $bgWhite;
  text-transform: uppercase;
  font-family: $fF;
  font-size: 11px;
  border-left: 1px solid #444;
  border-right: 1px solid #444;

  img {
    margin: 0 7px 0 0;
    transform: translateY(2px);
  }
}

.search-button {
  border: none;
  background: transparent;
  padding: 0;
  line-height: 30px;
}      

.search-icon {
  width: 15px;
  transform: translateY(3px);
}

// header bottom container

.header-bottom-block {
  justify-content: space-between;
  padding: 20px 10px;
  flex-wrap: wrap;
}

.logo {
  flex-grow: 1;
}

.navigation-list a {
  color: $bgBlack;
  font-family: $fF;
  font-size: 16px;
  position: relative;
  padding: 0 13px 0 0;
  margin: 0 30px 0 0;
}

.navigation-list a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-25%);
  border-top: 4px solid $bgBlack;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}  

.Your-cart-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 0 9px;
  width: 214px;
  line-height: 33px;
  border: 1px solid #d6d6d6;
  position: relative;

  .Your-cart-item {
    color: #949393;
    font-family: $fF;
    font-size: 12px;
  }
  .drop-down {
    border-top: 4px solid #c1c1c1;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .cart-list {
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    display: none;
    z-index: 1;
    background: $bgWhite;
    border: 1px solid #d6d6d6;

    .cart-list-item {
      line-height: 33px;
      color: #949393;
      font-family: $fF;
      font-size: 12px;
      padding: 0 0 0 9px;
      cursor: pointer;
    }
    .cart-list-item:hover {
      background: #fafafa;
    }
  }
}

.Your-cart-box input:checked ~ .cart-list {
  display: block;
}

.basket-box {
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  background: #fafafa;
  padding: 0 13px 0 10px;
  line-height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transform: translateY(3px);
  }
}

.basket-description {
  color: #949393;
  font-family: $fF;
  font-size: 11px;
  text-transform: uppercase;
}


// tablet nav menu block

.header-tablet-nav-menu-block {
  display: none;
  height: 48px;
  background: $bgPeach;
  position: relative;
  width: 100%;

  #ckeck-menu {
    display: none;
  }
  .menu-title {
    color: $bgWhite;
    font-family: $fF;
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    padding: 16px;
  }
  .burger-line {
    position: absolute;
    top: 14px;
    right: 17px;
    width: 22px;
    height: 4px;
    border-radius: 100px 100px 100px 100px;
    background: $bgWhite;
    transition: all 0.5s ease;
  }
  .second,
  .third {
    top: 22px;
  }
  .fourth {
    top: 30px;
  }
  .nav-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    background: $bgPeach;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-menu a {
    color: $bgBlack;
    font-family: $fF;
    font-size: 16px;
    position: relative;
    display: block;
    line-height: 30px;
    padding: 0 20px 0 0;
  }
  .nav-menu a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translateY(-25%);
    border-top: 4px solid transparent;
    border-left: 4px solid $bgBlack;
    border-bottom: 4px solid transparent;
  }
}

#ckeck-menu:checked ~ .nav-menu {
  max-height: 150px;
  font-size: 16px;
}

#ckeck-menu:checked ~ .first {
  display: none;
}

#ckeck-menu:checked ~ .fourth  {
  display: none;
}

#ckeck-menu:checked ~ .second {
  transform: rotate(45deg);
}

#ckeck-menu:checked ~ .third {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

  .header-work-block {
    max-width: 760px;
    padding: 0 15px;
  }
  .header-bottom-block {
    padding: 20px 15px 17px;
  }
  .navigation-list {
    display: none;
  }
  .cart-basket-block {
    margin: 0 0 20px 0;
  }
  .header-tablet-nav-menu-block {
    display: block;
  }
}

@media screen and (max-width: 640px) {

  .header-work-block {
    max-width: 640px;
    padding: 0;
  }

  .header-top-block {
    flex-wrap: wrap;
  }

  #mobile-version {
    width: 100%;
    text-align: center;
    padding: 37px 120px;
    color: #838383;
    background: #fafafa;
    font-size: 30px;
    white-space: nowrap;
  }
  
  #my-account-block-mobile {
    width: 100%;
    line-height: 96px;
  }

  #country-box-mobile {
    z-index: 3;
    padding: 0 26px 0 30px;
    border: none;
  }

  #country-name-mobile {
    font-size: 30px;
    margin: 0 14px 0 0;
  }

  #angle-arrow-mobile {
    border-top: 10px solid $bgWhite;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  #country-list-mobile li {
    font-size: 30px;
    line-height: 50px;
    padding: 0 0 0 16px;
  }

  #my-account-link-mobile {
    font-size: 30px;
    padding: 0 63px;
  }

  #user-icon-mobile {
    width: 40px;
    height: 38px;
    margin: 0 10px 0 0;
    transform: translateY(8px);
  }

  #search-button-mobile {
    padding: 0 20px;
  }

  #search-icon-mobile {
    width: 38px;
  }

  .header-bottom {
    &-block {
      flex-wrap: wrap;
      padding: 0 15px;

      .logo {
        width: 100%;
        text-align: center;
        padding: 58px 0 54px 0;

        img {
          width: 358px;
        }
      }
    }
  }

  .cart-basket-block {
    width: 100%;
    text-align: center;
    margin: 0 0 23px 0;
  }

  .Your-cart-box {
    display: none;
  }

  .basket-box {
    border-top: 1px solid #d6d6d6;
    padding: 22px 30px 25px 29px;
    
    a img {
      width: 51px;
    }
  }

  .basket-description {
    font-size: 30px;
  }

  .header-tablet-nav-menu-block {
    height: 96px;
    margin: 0 0 26px 0;

    .menu-title {
      font-size: 30px;
      padding: 34px 0 37px 25px;
    }

    .burger-line {
      width: 32px;
      height: 6px;
      right: 30px;
    }
    
    .first {
      top: 33px;
    }
    .second,
    .third {
      top: 45px;
    }

    .fourth {
      top: 57px;
    }
  }  
}